body {
    margin: 0;
    padding: 0;
    background-image: url(image/Autres/pic1.jpg);
    background-size: cover;
    background-position: center;
    font-family: serif;
}

.loginbox{
    width: 320px;
    height: 420px;
    background: #000;
    color:#fff;
    top:50%;
    left:50%;
    position: absolute;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 80px;
}


.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50%,-50%);
    box-sizing: border-box;
    
}

h1{
    margin: 0 ;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
}

.loginbox input{
    width: 150px;
    margin-bottom:20px;
}

.loginbox input[type="text"], input[type="password"] {
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline:none;
    height: 40px;
    color: #fff;
    font-size:16px;

}

.loginbox input[type="submit"]{
    border:none;
    outline: none;
    height:40px;
    background: orange;
    color:#fff;
    font-size: 18px;
    border-radius: 50px;
     
}

.loginbox input[type="submit"]:hover{
    cursor:pointer;
    background:green;
    color:white;
}

.loginbox a {
    text-decoration: none;
    font-size: 15px;
    line-height: 30px;
    color:white;
}

.loginbox a:hover{
    color:orange;
}