/*Page d'accueil*/

body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
  padding: 0px;
}

nav {
    display:flex;
    justify-content: space-between;
    background-color:black;
    position:sticky;
    top:0;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1000;
}

.nav1{
  display:flex;
}

.nav1 ul{
  display:flex;
  list-style: none;
  align-items: center;
  text-transform: uppercase;
}
.nav1 ul li{
  color:white;
  margin-right: 20px;
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s;
  float: left;
  list-style: none;
  display: flex;
  flex-direction: column;
  position: relative;

}
.nav1 ul li:hover{
  color:black;
  background-color:white;
}

.nav1 ul li a{
  color:inherit;
  text-decoration:none ;
}

.submenu{
  display:flex;
  visibility: hidden;
  flex-direction: column;
  background-color: black;
  position: absolute;
  top: 40px;
}
.nav1 ul li:hover > .submenu{
  visibility: visible;
}
.search-barre{
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.cards {
  display: flex;
  margin-bottom: 60px;
  margin-top: 200px;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  background-color: black;
  padding: 30px 50px;
  border-radius: 5px;
  width: 80%;
  box-sizing: border-box;
}

.cards .card {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards .card .article-name {
  color: #fff;
  font-weight: bold;
  margin-top: 10px;
}

.cards .card .article-price {
  color: yellow;
  font-weight: bold;
  margin-top: 10px;
}

.cards .card img {
  width: 160px;
  border: 1px solid red;
}

.nav1 input{
  margin: 8px 20px;
  border-radius: 400px;
  padding: 10px;
  background-color:white;
}
.search-barre p{
color:white;
margin-left: 20px;
}

nav h1{
    font-size: 20px;
    color: white;
}

nav > ul::after{
  content:"";
  display: block;
  clear: both;
}

.fas{
  font-size: 20px;
}


header{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

header h1{
    font-size: 50px;
    max-width: 500px;
    text-align: center;
}

header button{
    padding:15px 20px;
    font-size: 20px;
    border:none;
    border-radius: 5px;
    outline: none;
    cursor:pointer;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo{
  color:black;
	text-decoration: none;
	transition: .7s color;
}



.video{
  margin-bottom: 50px;
  width: 80%;
  padding-top: 100px;
  box-sizing: border-box;
}
.video iframe{
  border:none;
  border-radius:10px;
  width: 100%;
  height: 400px;

}


footer{
  margin-top: 100px;
  background-color: black;
  color:white;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:30px;
  font-size: 20px;

}
footer .social-media{
  display:flex;

}

footer .social-media p{
  margin-right: 15px;
  font-size: 30px;
}

.paiement a {
  color: white;
	text-decoration: none;
  padding-right: 30px;
  padding-top:20px;
  font-size:30px
}



@media screen and (max-width: 640px){

  nav .onglets .link, nav h1{
    display:none;

  }

  .cards .card img{
    width: 300px
  }

}


 /*Fin de la page d'accueil*/




  /*Page materiel de sport*/



  /*slides*/

  .sliders{
    width: 80%;
    height: 200px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
  }
  .sliders img{
    width: 100%;
    height: 200%;
  }

.product {
    display: flex;
    padding: 40px 100px;
}

.product-image {
    flex: 1;
    margin-right: 40px;
}
.product-image img{
    width: 100%;
}

.product-info {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.product-info h3 {
    text-transform: capitalize;
    font-size: 24px;
}


.product-description {
    text-align: justify;
}

.buy-btn{
    background-color: coral;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    padding: 8px 16px;
    border-radius: 50px;
    width: 50%;
    margin-top: 10px;
    cursor: pointer;
    outline: none;
}

.product-reference {
    margin-top: 10px;
}

.product-note {
    margin-bottom: 10px;
}

.product-size {
    margin-top: 10px;
}

.product-quantity {
    width: 20%;
    outline: none;
    margin-top: 10px;
}

.user-login {
    color: #fff;
}
